@import "tailwindcss";

@font-face {
  font-family: "Jost";
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Jost/Jost-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --color-DarkBluePrimary: #092b4c;
  --color-LigthBlueButton: #1e90ff;

  /* En Tailwind v4 es mejor usar minúsculas para las utilidades */
  --font-jost: "Jost";
}

body {
  @apply font-jost;
}
